# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.env/

# VSCode settings
.vscode/

# Logs and temporary files
*.log
*.tmp
.logs/

# Artifacts
data/

# System files
.DS_Store
Thumbs.db

